-- ===============================================================
-- SCRIPT DE CONFIGURACIÓN DE BASE DE DATOS POSTGRESQL
-- Sistema de Gestión de Tests Automatizados con Playwright
-- ===============================================================

-- Crear la base de datos (ejecutar como superusuario)
-- CREATE DATABASE buse_testing_db;
-- \c buse_testing_db;

-- Crear extensiones necesarias
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";
CREATE EXTENSION IF NOT EXISTS "pgcrypto";

-- ===============================================================
-- ESQUEMAS
-- ===============================================================

-- Crear esquemas para organizar mejor las tablas
CREATE SCHEMA IF NOT EXISTS testing;
CREATE SCHEMA IF NOT EXISTS evidence;
CREATE SCHEMA IF NOT EXISTS analytics;

-- ===============================================================
-- TABLAS PRINCIPALES
-- ===============================================================

-- Tabla de Proyectos/Aplicaciones
CREATE TABLE testing.projects (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name VARCHAR(255) NOT NULL UNIQUE,
    description TEXT,
    base_url VARCHAR(500),
    status VARCHAR(50) DEFAULT 'active' CHECK (status IN ('active', 'inactive', 'archived')),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    created_by VARCHAR(100),
    metadata JSONB DEFAULT '{}'::jsonb
);

-- Tabla de Suites de Prueba
CREATE TABLE testing.test_suites (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    project_id UUID REFERENCES testing.projects(id) ON DELETE CASCADE,
    name VARCHAR(255) NOT NULL,
    description TEXT,
    status VARCHAR(50) DEFAULT 'active' CHECK (status IN ('active', 'inactive', 'archived')),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    created_by VARCHAR(100),
    metadata JSONB DEFAULT '{}'::jsonb,
    UNIQUE(project_id, name)
);

-- Tabla de Casos de Prueba
CREATE TABLE testing.test_cases (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    suite_id UUID REFERENCES testing.test_suites(id) ON DELETE SET NULL,
    project_id UUID REFERENCES testing.projects(id) ON DELETE CASCADE,
    
    -- Información básica del caso
    nombre VARCHAR(255) NOT NULL,
    codigo VARCHAR(100) UNIQUE, -- Código único del caso (ej: TC001)
    tipo VARCHAR(50) DEFAULT 'funcional' CHECK (tipo IN ('funcional', 'integracion', 'regresion', 'smoke', 'ui', 'api')),
    prioridad VARCHAR(20) DEFAULT 'media' CHECK (prioridad IN ('alta', 'media', 'baja', 'critica')),
    
    -- Contenido del caso de prueba
    historia_usuario TEXT,
    objetivo TEXT NOT NULL,
    precondicion TEXT,
    pasos TEXT NOT NULL,
    datos_prueba TEXT,
    resultado_esperado TEXT NOT NULL,
    
    -- Información técnica
    url_objetivo VARCHAR(500),
    selector_elementos JSONB DEFAULT '{}'::jsonb, -- Selectores CSS utilizados
    tiempo_estimado INTEGER, -- En segundos
    
    -- Metadatos y validación
    es_valido BOOLEAN DEFAULT true,
    problemas TEXT[],
    sugerencias TEXT[],
    tags TEXT[],
    
    -- Instrucciones generadas
    instrucciones_qa_pilot TEXT,
    instrucciones_browser_use TEXT,
    codigo_playwright TEXT,
    
    -- Control de versiones
    version INTEGER DEFAULT 1,
    version_anterior UUID REFERENCES testing.test_cases(id),
    
    -- Auditoría
    status VARCHAR(50) DEFAULT 'draft' CHECK (status IN ('draft', 'review', 'approved', 'deprecated')),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    created_by VARCHAR(100),
    reviewed_by VARCHAR(100),
    reviewed_at TIMESTAMP WITH TIME ZONE,
    
    -- Metadatos adicionales
    metadata JSONB DEFAULT '{}'::jsonb
);

-- Tabla de Ejecuciones Masivas/Batch
CREATE TABLE testing.bulk_executions (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    project_id UUID REFERENCES testing.projects(id) ON DELETE CASCADE,
    suite_id UUID REFERENCES testing.test_suites(id) ON DELETE SET NULL,
    
    -- Información de la ejecución
    name VARCHAR(255),
    description TEXT,
    execution_mode VARCHAR(50) DEFAULT 'sequential' CHECK (execution_mode IN ('sequential', 'parallel', 'background')),
    
    -- Configuración
    show_browser BOOLEAN DEFAULT false,
    headless_mode BOOLEAN DEFAULT true,
    browser_type VARCHAR(20) DEFAULT 'chromium' CHECK (browser_type IN ('chromium', 'firefox', 'webkit')),
    capture_screenshots BOOLEAN DEFAULT true,
    max_timeout INTEGER DEFAULT 300, -- En segundos
    
    -- Estado y progreso
    status VARCHAR(50) DEFAULT 'queued' CHECK (status IN ('queued', 'running', 'paused', 'completed', 'failed', 'cancelled')),
    total_cases INTEGER NOT NULL DEFAULT 0,
    current_case_index INTEGER DEFAULT 0,
    completed_cases INTEGER DEFAULT 0,
    failed_cases INTEGER DEFAULT 0,
    skipped_cases INTEGER DEFAULT 0,
    progress_percentage DECIMAL(5,2) DEFAULT 0.00,
    
    -- Tiempos
    started_at TIMESTAMP WITH TIME ZONE,
    finished_at TIMESTAMP WITH TIME ZONE,
    estimated_duration INTEGER, -- En segundos
    actual_duration INTEGER, -- En segundos
    
    -- Resultados generales
    success_rate DECIMAL(5,2),
    error_summary TEXT,
    
    -- Auditoría
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    created_by VARCHAR(100),
    
    -- Metadatos adicionales
    metadata JSONB DEFAULT '{}'::jsonb
);

-- Tabla de Ejecuciones Individuales
CREATE TABLE testing.test_executions (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    test_case_id UUID NOT NULL REFERENCES testing.test_cases(id) ON DELETE CASCADE,
    bulk_execution_id UUID REFERENCES testing.bulk_executions(id) ON DELETE SET NULL,
    project_id UUID REFERENCES testing.projects(id) ON DELETE CASCADE,
    
    -- Información de la ejecución
    execution_order INTEGER, -- Orden en la ejecución masiva
    execution_type VARCHAR(50) DEFAULT 'manual' CHECK (execution_type IN ('manual', 'automated', 'scheduled', 'bulk')),
    
    -- Configuración de la ejecución
    browser_config JSONB DEFAULT '{}'::jsonb,
    environment VARCHAR(100) DEFAULT 'test',
    url_executed VARCHAR(500),
    
    -- Estado y resultado
    status VARCHAR(50) DEFAULT 'pending' CHECK (status IN ('pending', 'running', 'passed', 'failed', 'skipped', 'error', 'timeout')),
    result_details TEXT,
    error_message TEXT,
    stack_trace TEXT,
    
    -- Métricas de rendimiento
    start_time TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    end_time TIMESTAMP WITH TIME ZONE,
    duration_seconds INTEGER,
    steps_executed INTEGER DEFAULT 0,
    steps_total INTEGER DEFAULT 0,
    
    -- Información del script ejecutado
    script_path VARCHAR(500),
    script_hash VARCHAR(64), -- Hash del script para control de versiones
    return_code INTEGER,
    stdout_log TEXT,
    stderr_log TEXT,
    
    -- Validaciones automáticas
    validation_results JSONB DEFAULT '{}'::jsonb,
    assertions_passed INTEGER DEFAULT 0,
    assertions_failed INTEGER DEFAULT 0,
    
    -- Auditoría
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    executed_by VARCHAR(100),
    
    -- Metadatos adicionales
    metadata JSONB DEFAULT '{}'::jsonb
);

-- Tabla de Evidencias/Screenshots
CREATE TABLE evidence.screenshots (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    execution_id UUID NOT NULL REFERENCES testing.test_executions(id) ON DELETE CASCADE,
    test_case_id UUID REFERENCES testing.test_cases(id) ON DELETE CASCADE,
    
    -- Información del screenshot
    name VARCHAR(255) NOT NULL,
    description TEXT,
    step_number INTEGER,
    screenshot_type VARCHAR(50) DEFAULT 'step' CHECK (screenshot_type IN ('initial', 'step', 'final', 'error', 'validation')),
    
    -- Archivo y ruta
    file_path VARCHAR(1000) NOT NULL,
    file_name VARCHAR(255) NOT NULL,
    file_size_bytes BIGINT,
    file_format VARCHAR(10) DEFAULT 'png',
    file_hash VARCHAR(64),
    
    -- Metadatos de la imagen
    width INTEGER,
    height INTEGER,
    is_full_page BOOLEAN DEFAULT false,
    
    -- Contexto de captura
    url_captured VARCHAR(500),
    selector_captured VARCHAR(500), -- Si se capturó un elemento específico
    timestamp_ms BIGINT, -- Timestamp en milisegundos desde inicio de ejecución
    
    -- Base64 data (opcional, para screenshots pequeños)
    base64_data TEXT,
    
    -- Estado y validación
    is_valid BOOLEAN DEFAULT true,
    processing_status VARCHAR(50) DEFAULT 'processed' CHECK (processing_status IN ('pending', 'processing', 'processed', 'failed')),
    
    -- Auditoría
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    
    -- Metadatos adicionales
    metadata JSONB DEFAULT '{}'::jsonb
);
